{% extends "layouts/base.html" %}

{% block title_tag %}<title>{{ SITE_NAME }}</title>{% endblock %}

{% block base_content %}

    <div class="container">
        <!-- Main hero unit for a primary marketing message or call to action -->
        <div class="jumbotron">
            <div class="container">
                <h1>{{ SITE_NAME }}</h1>
                <p>Simplify management of your Martial Arts School</p>
                <p><small>Manage your classes and students and track their attendance</small></p>
                {% if not user.is_authenticated %}
                    <p><a href="/signup" class="btn btn-primary btn-lg" target="_blank">Sign Up &raquo;</a></p>
                {% endif %}
            </div>
        </div>
    </div>

{% endblock base_content %}
